<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Main Display</h2>
  <svg id="svgOne" width="5000" height="3000">


    <% rows.forEach(function(r) { %>
        <rect width= "<%= r.size/r.height*50 %>" height="<%= r.height*10 %>" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)" /></rect>
        <br>
    <% }); %>

  </svg>
</div>

</body>
</html>
