<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Main Display</h2>
  <svg id="svgOne" width="5000" height="3000">


  <script>
     <% rows.forEach(function(r) %>{
      <rect x="50" y="50" width="50" height="50" fill="black" />
     <%})%>
    </script>
  </svg>
</div>

</body>
</html>
