<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Main Display</h2>
  <svg id="svgOne" width="5000" height="3000">

  </svg>
  <script>
     rows.forEach(function(r) {
       var rect = document.createElement('rect');
       rect.setAttribute(null, 'height', r.height);
       rect.setAttribute(null, 'width', r.size/r.height*10);
       rect.setAttribute(null, 'fill', '#'+Math.round(0xffffff * Math.random()).toString(16));
       document.getElementById('svgOne').appendChild(rect);
     });
    </script>

</div>

</body>
</html>
