<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Main Display</h2>
  <svg id="svgOne" width="5000" height="3000">

  </svg>
     <%rows.forEach(function(r) {%>
       <script type="text/javascript">
         var rect = document.createElementNS(svgns, 'rect');
         rect.setAttributeNS(null, 'height', r.height);
         rect.setAttributeNS(null, 'width', r.size/r.height*10);
         rect.setAttributeNS(null, 'fill', '#'+Math.round(0xffffff * Math.random()).toString(16));
         document.getElementById('svgOne').appendChild(rect);
       </script>
    <% }); %>


</div>

</body>
</html>
