<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Main Display</h2>

     <%rows.forEach(function(r) {%>
       <svg width="400" height="110">
         <rect width= r.size/r.height*10 height=r.height style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)" />
       </svg>

    <% }); %>


</div>

</body>
</html>
